* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-color: #54be90;
  --white-color: #f2f2f2;
  --dark-grey: #444444;
}

html {
  font-family: "Alegreya Sans", sans-serif;
}

body {
  margin: 0 1rem;
}

/* -----NAV----- */
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}

.nav__container {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav__link {
  background: var(--dark-grey);
  color: var(--white-color);
  padding: 0 1rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #232323;
  background-color: var(--green-color);
}

.nav__icon {
  margin: 0 auto;
}

/* -----HOME----- */
.home {
  background-image: url("/portfolio-page/img/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 80vh;
  margin-top: 10vh;
  text-align: center;
}

.home__title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.home__container {
  font-size: 1.8rem;
  font-weight: normal;
  padding: 3rem;
}

.home__link {
  color: #f2f2f2;
  text-decoration: none;
  border-bottom: 10px solid var(--green-color);
}

.home__heading {
  letter-spacing: 0.2rem;
}

/* -----DESC----- */
.desc {
  margin-top: 3rem;
}

.desc__paragraph {
  background-color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.desc__container {
  background: var(--dark-grey);
  color: var(--white-color);
  display: flex;
}

.desc__heading {
  color: var(--green-color);
}

.desc__item {
  font-size: 1.5rem;
  padding: 0 2rem 2rem;
  text-align: center;
}

.desc__circle {
  background-color: var(--white-color);
  height: 5rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border-radius: 0 0 5rem 5rem;
}
